	body {
		background-color: #C992F6;
        margin:   50px 250px 50px;
		text-align: center
	}
	.contact{
		border: 1px solid black;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #C992F6;
		text-align: center
		}
	li {
		display: inline;
		}
	li a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		}
	li a:hover:not(.active) {
		background-color: #8C35D5;
		}
	.active {
		background-color: #B563F9;
		}
	.image-txt-container {
		display:flex;
		align-items:center;
		flex-direction: row;
	}